<div class="item">
  <%= link_to "Chatroom", root_path %>
</div>
<a class="item">
  Messages
</a>
<div class="right menu">
  <div class="item">
    <%= link_to "Log in", login_path %>
  </div>
  <div class="item">
    <%= link_to "Sign up", login_path %>
  </div>
  <div class="item">
    <%= link_to "Log out", login_path %>
  </div>
</div>